@import './variables.scss';
@import './mixins.scss';

.button {
    background: $color-accent;
    border-radius: 5px;
    padding: 0.4rem 2rem;
    width: fit-content;
    font-family: $font-primary;
    color: $color-primary;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    margin: 0 auto;    
    font-family: $font-primary;

    @include screen--md-up($withoutSuffix: true) {
        margin: 0;
    }
}