// Font Variables
$font-secondary: 'Roboto Slab', serif;   
$font-primary: 'Roboto', sans-serif;
$font-condensed: 'Paytone One', sans-serif;

// Colors
$color-primary: #000;
$color-primary-contrast: #fff;
$color-blue: #46749D;
$color-grey: #F6F4EF;
$color-background: #fff;
$color-accent: #DFEB95;